<html>

<head>
    <title>Tambah Kurang</title>
</head>

<body>
    <div id="aplikasi">
        <p>
            NILAI A : <input type="text" name="txtA" v-model="nA">
            NILAI B : <input type="text" name="txtB" v-model="nB">
        </p>
        <br>
        HASIL KALI = {{ hasilKali }}
        HASIL BAGI = {{ hasilBagi }}
        </br>
    </div>

    <script type="text/javascript" src="../vue.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>


<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Document</title>
</head>
<body>
    <h1>Hello Spring</h1>
</body>
</html>